# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
env/

# Databases
*.db
*.sqlite
*.sqlite3

# Node
node_modules/

# Catalyst
.catalystrc
.catalyst-cache/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Pytest
.pytest_cache/

# Logs
*.log
